email-response.json
{
  "name": "Email Response",
  "nodes": [
    {
      "parameters": {
        "path": "response-email",
        "options": {}
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "mode": "json",
        "json": {
          "email_content": "={{JSON.stringify($json.body.email_content)}}"
        }
      },
      "id": "Edit Fields",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "model": "gpt-4",
        "messages": [
          {
            "role": "system",
            "content": "Tu es une IA experte en communication professionnelle. Ta tâche est de rédiger la réponse à l'email à la place de **Sina Ganji**. Écris directement la réponse en français, comme si Sina répondait à l'expéditeur. Sois clair, concis et précis : réponds uniquement aux informations demandées, confirmations, explications ou actions à entreprendre. N'ajoute jamais de politesse inutile, ne traduis jamais, et ne parle pas de toi-même (tu n'es pas l'expéditeur, tu es la voix de Sina)."
          },
          {
            "role": "user",
            "content": "Rédige une réponse à cet email : {{$json.email_content}}"
          }
        ]
      },
      "id": "OpenAI",
      "name": "Message a model",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [600, 300],
      "credentials": {
        "openAiApi": "OpenAi account 2"
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"response\": JSON.stringify($json.choices[0].message.content) } }}"
      },
      "id": "Respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [800, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Edit Fields", "type": "main", "index": 0 }]]
    },
    "Edit Fields": {
      "main": [[{ "node": "Message a model", "type": "main", "index": 0 }]]
    },
    "Message a model": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  }
}
