webhook.json
{
    "nodes": [
      {
        "parameters": {
          "path": "chatbot",
          "options": {}
        },
        "id": "1",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [250, 300]
      },
      {
        "parameters": {
          "resource": "chat",
          "operation": "createChatCompletion",
          "model": "gpt-4o-mini",
          "messages": [
            {
              "role": "system",
              "content": "You are a helpful chatbot. Answer the user clearly."
            },
            {
              "role": "user",
              "content": "={{$json[\"message\"]}}"
            }
          ]
        },
        "id": "2",
        "name": "OpenAI (Chat)",
        "type": "n8n-nodes-base.openAi",
        "typeVersion": 2,
        "credentials": {
          "openAiApi": {
            "id": "replace-with-your-credentials-id",
            "name": "OpenAI Account"
          }
        },
        "position": [550, 300]
      },
      {
        "parameters": {
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "3",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [850, 300]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "OpenAI (Chat)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI (Chat)": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
  